Source: libpsm2
Maintainer: Brian T. Smith <bsmith@systemfabricworks.com>
Section: libs
Priority: extra
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
 uuid-dev,
 quilt,
 libnuma-dev,
 systemd

Package: libpsm2-2
Architecture: linux-any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libuuid1,
 libnuma1
Conflicts: hfi1-psm,
 libpsm2
Replaces: hfi1-psm,
 libpsm2
Provides: libpsm2
Description: Intel PSM2 Library
 PSM2 is Intel's low-level user-space communications interface for
 the Intel(R) OPA family of products. PSM2 users are enabled with
 mechanisms necessary to implement higher level communications
 interfaces in parallel environments.

Package: libpsm2-dev
Architecture: linux-any
Section: libdevel
Depends: ${misc:Depends},
 libpsm2-2 (=${binary:Version}),
 uuid-dev,
 libnuma-dev
Conflicts: hfi1-psm-dev
Replaces: hfi1-psm-dev
Description: Development files for Intel PSM
 Development files for the Intel PSM2 library.

Package: libpsm2-compat
Architecture: linux-any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libpsm2-2 (=${binary:Version})
Conflicts: hfi1-psm-compat
Replaces: hfi1-psm-compat
Description: Development files for Intel PSM
 Support for MPIs linked with PSM versions < 2.

Package: libpsm2-dbg
Architecture: linux-any
Section: debug
Depends: ${misc:Depends},
 libpsm2-2 (=${binary:Version})
Description: Debugging symbols for the libpsm2 library
 PSM2 is Intel's low-level user-space communications interface for
 the Intel(R) OPA family of products. PSM2 users are enabled with
 mechanisms necessary to implement higher level communications
 interfaces in parallel environments. This package contains the
 debugging symbols for Intel PSM2 library.
