#!/usr/bin/make -f

#export DH_VERBOSE=1
#export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie

# Specify the library installation directory
export LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@ --parallel --with autoreconf

.PHONY: override_dh_installdocs
override_dh_installdocs:
	dh_installdocs --link-doc=libpsm2-2

# Prevent useless call to ldconfig for compat library
.PHONY: override_dh_makeshlibs
override_dh_makeshlibs:
	dh_makeshlibs -X$(LIBDIR)/psm2-compat
